body {
	background-image: url("background.jpg");
	}
	h1 {
		color: #E0922E;
	}
	p{ color: #bab9b6;
	}
	b{
		color:#ba9f07;
		background:black;
		top:20px;
		display:block;
		width:120%;
		font-size: 120%;
		line-height: 200%;
		border: 1px solid #bab9b6;
	}
.center{
		display:block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		top: 10px;
		position: relative;
		border: 1px solid white;
}	
	
	li{
		float: left;

		
	}
	li a{
		display: block;
		color: #F5F5F5;
		text-align: center;
		padding:  16px 20px;
		text-decoration: none;
		border-right: 1px solid #555;
	}
	li a.active{
		background-color: #012a6d;
		color:white;
	}
	li a:hover:not(.active){
		background-color: #272828;
		color: white;
	}
	.title{
		display:block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.form{
		display:block;
		margin-left: auto;
		margin-right: auto;
		width: 10%;
		position: relative;
		color:#F5F5F5;
		top:50px
		
	}
	.submit{
		display:block;
		margin-left: auto;
		margin-right: auto;
		width: 5%;
		position: relative;
		color:#F5F5F5;
		top:50px
	}
	.text{
		display:block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		top: 10px;
		position: relative;
		padding:2%;
	}
	.survey{
		display:block;
		width: 100%;
		height:700px;
		top: 10px;
		position: relative;
	}
	.FPar{
		display:block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		top: 10px;
		position: relative;
		padding:2%;
		color:#f2f2f2;
	}
	.alt{
		list-style-type: none;
		overflow: hidden;
		background-color: #131519;
		margin: 0%;
		padding: 0%;
		position: sticky;
		top:-5;
		width:100%;
	}
	.so{
		display:block;
		background-color:white;
		padding:0% ;
	}